<html>
<body>

  <div class = "container">
  
      <div class="col-md-8 col-md-offset-2">

 
      <br>
      <br>
      <br>
    <div class="jumbotron">

            <h2>Meet the Team:</h2>
 
            <div class="media border p-3">
                    <img src="src\assets\Chase.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                      <h4>Mikael Belay </h4>
                      <p>Mikael graduated from James Madison University with a BS in Computer Information Systems.  He works in Single Family Frontend Technologies.</p>
                    </div>
                  </div>
            <div class="media border p-3">
                <img src="src\assets\Chase.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>Shouvik Chakraborty</h4>
                    <p>Shouvik graduated from the University of Maryland with a BS in Computer Science.  He is currently working in Capital Markets Technology.</p>
                </div>
                </div>
            <div class="media border p-3">
                    <img src="src\assets\Chase.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>Chase Deets </h4>
                        <p>Chase graduated form the University of Virginia with a BS in Software Engineering.  He works in Securities and Accounting Technologies within Capital Markets Technology.</p>
                    </div>
                    </div>
            <div class="media border p-3">
                <img src="src\assets\Chase.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>Shahob Kaymanesh </h4>
                    <p>Shahob graduated from Virginia Tech with a BS in Electrical Engineering.  He currently works in Capital Markets Technology. </p>
                </div>
                </div>
            <div class="media border p-3">
                    <img src="src\assets\Chase.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                    <div class="media-body">
                        <h4>Dennis Reyes </h4>
                        <p>Dennis Reyes graduated from the University of Maryland with a BS in Computer Science.  He works in Securities and Accounting Technologies within Capital Markets Technology.</p>
                    </div>
                    </div>

    </div>
      <br>
      <br>
      <br>
      <br>

  </div>
  </div>

</body>
</html>