<div style="text-align:center">
    <h1>
        Welcome to Mortgage Calculator!
    </h1>
    <div class="container">
        <div class="col-md-6">
        <form class="form-horizontal" #calcform ="ngForm">
            <!--{{diagnostic}}-->
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="homePrice">Home Price: </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="homePrice"
                       [(ngModel)]="mortgageCalc.homePrice" name="homePrice" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="downPayment">Down Payment: </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="downPayment"
                       [(ngModel)]="mortgageCalc.downPayment" name="downPayment" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="loanAmount">Loan Amount: </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="loanAmount" required
                       [(ngModel)]="mortgageCalc.loanAmount" name="loanAmount" />
                </div>
                
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="interestRate">Interest Rate: </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="interestRate" required
                       [(ngModel)]="mortgageCalc.interestRate" name="interestRate" />
                </div>
                
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="loanTerm">Loan Term: </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="loanTerm" required
                       [(ngModel)]="mortgageCalc.loanTerm" name="loanTerm" />
                </div>
                
            </div>

            <button type="submit" class="btn btn-success">Submit</button>

        </form>
    </div>
    <div class="col-md-6">
        <h2> Output Values </h2>

    </div>


    </div>
</div>